@import url("normalize.css");

body, html
{
	background: #EEE;
	font-family: Helvetica, Arial;
	font-size: 16px;
	text-align: center;
}

img
{
	max-width: 100%;
}

#cabecera, #contenido
{
	display: inline-block;
	vertical-align: top;
	width: 15%;
}

#cabecera, #contenido, #precarga, #respuesta, .tabla td, .tabla th
{
	padding: 1em;
}

#contenido
{
	background: white;
	width: 80%;
}

#insertar
{
	color: #292623;
	font-size: 1.5em;
}

#insertar:hover
{
	color: #EC673A;
}
#precarga, #respuesta
{
	display: none;
}

.error, .exito
{
	background: #F45555;
	color: white;
	padding: 1em;
}

.exito
{
	background: #05C858;
}

.formulario, .tabla p
{
	text-align: left;
}

.formulario div
{
	margin: 1em auto;
}

.formulario legend
{
	font-size: 2em;
	font-weight: bold;
}

.paginacion a, .actual
{
	color: #EC673A;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0 .5em;
	text-decoration: none;
	vertical-align: middle;
}

.paginacion a:hover, .actual
{
	color: #1C5F81;
}

.actual
{
	font-size: 3rem;
}



.tabla
{
	margin: auto;
	width: 90%;
}

.tabla a
{
	color: #EEEEEE;
}

.tabla a:hover
{
	color: #292623;
}

.tabla img
{
	max-width: 100px;
	max-height: 100px;
}

.tabla td
{
	vertical-align: top;
}

.tabla th
{
	background: #292623;
	color: #EEEEEE;
}

.tabla tr:nth-child(odd)
{
	background: #EC673A;
}

.tabla tr:nth-child(even)
{
	background: #1C5F81;
}